{% extends "@project/layout.html.twig" %}

{% block view_classes %}resource-history-view{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="page-header">
              <h1>User <small>resource-history</small></h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <ul class="timeline">
            {% for event in history %}
            <li class="{% if not loop.index0 % 2 == 0 %}timeline-inverted{% endif %}">
                <div class="timeline-badge {{ event.badge.sentiment }}"><i class="glyphicon {{ event.badge.icon }}"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{ event.title }} <small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ event.when }}</small></h4>
                        <p></p>
                    </div>
                    <div class="timeline-body">
                        <p>Revision: {{ event.revision }}</p>
                        <p>Date: {{ event.date }}</p>
                        {% if event.changes != '[]' %}
                        <h5>Values changed:</h5>
                        <dd><pre class="json-highlight">{{ event.changes }}</pre></dd>
                        {% endif %}
                    </div>
                    {% for embedded_event in event.embedded_events %}
                    <div class="timeline-body">
                        <h5>{{ embedded_event.title }}:</h5>
                        <dd><pre class="json-highlight">{{ embedded_event.changes }}</pre></dd>
                    </div>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ path('hlx.security.users') }}" class="btn btn-primary back-btn">back to list</a>
    </div>
</div>
{% endblock %}